/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

header ul{
    display:flex;
    list-style: none;
    gap: 20px;
}

header ul li a{
    text-decoration: none;
}

/* Showcase Styles */
section.showcase{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

div.image-banner img{
    width:100%;
    height: 100%;
    object-fit: cover;

}

/* Featured Section Styles */

section#featured-section-container{
    display:flex;
    width: 100%;
    background:#f1b040;
    margin:0 auto;

}

div.featured-image-container{
    width: 400px;
    height: 300px;
    overflow: hidden;
}

div.featured-image-container img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

div.featured-content-image-container{
    display: flex;
    width: 50%;
}

/* Article styles */

div.list-of-articles-container{
    width: 50%;
}
div.article-container{
    display:flex;
}
div.article-image-container{
    width:220px;
    height: 220px;
    overflow: hidden;
}

div.article-image-container img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

